version: 2.1
orbs:
  ios: wordpress-mobile/ios@1.0
  git: wordpress-mobile/git@1.0
commands:
  fix-image:
    steps:
      - run:
          name: Fix CI Image
          command: |
            # Add `/usr/local/bin` to the Xcode 11.2 image's $PATH in order to be able to use dependencies
            if [ $(echo $PATH | ruby -e "puts Kernel.gets.include?('/usr/local/bin')") != "true" ]; then
              echo 'export PATH=/usr/local/bin:$PATH' >> $BASH_ENV
              echo "Manually added `/usr/local/bin` to the $PATH:"
              echo $PATH
            fi
            chruby ruby-2.6.6
            gem install bundler
jobs:
  build:
    executor:
      name: ios/default
      xcode-version: "12.0.0"
    environment:
      SCAN_OUTPUT_DIRECTORY: "output/scan"
    steps:
      - fix-image
      - git/shallow-checkout
      - run:
          name: Build for Testing
          command: bundle install; bundle exec fastlane test
          working_directory: KanvasCameraExample
      - run:
          name: Zip failed diffs
          when: always
          working_directory: ./KanvasCameraExample/KanvasCameraExampleTests
          command: zip -r diffoutput.zip FailureDiffs || true
      - store_artifacts:
          name: Save diffs
          path: KanvasCameraExample/KanvasCameraExampleTests/diffoutput.zip
          destination: testresults
      - store_test_results:
          path: ./KanvasCameraExample/output/scan
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan
      - ios/save-xcodebuild-artifacts
      - ios/save-xcodebuild-artifacts:
          result-bundle-path: build/results
          #- run:
          #name: Validate Podspec
          #command: bundle exec fastlane podspec

